<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>

    <!-- JQuery -->
    <script src="/static/js/jquery-1.12.3.min.js" type="application/javascript"></script>
    <script src="/static/js/jquery.flot.js" type="application/javascript"></script>
    <script src="/static/js/jquery.flot.pie.js" type="application/javascript"></script>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>

    <!-- Socket.io -->
    <script src="/static/js/socket.io-1.4.5.js" type="application/javascript"></script>

    <!-- App -->
    <script src="/static/app/app.js" type="application/javascript"></script>
    <link href="/static/app/css/styles.css" rel="stylesheet"/>

</head>
<body>
    <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" id="text" onkeypress="onEnterKeyPress()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="sendTask()">Go!</button>
          </span>
        </div>
        <div class="row" id="parent-chart-container"></div>
    </div>
</body>
</html>