body {
    margin: 10px;
}

.chart-container {
    width:600px;
    height:380px;
    opacity: 0;

    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.url-text {
    margin-top: 10px;
}

.input-group {
    width: 300px;
    margin: 0 auto;
    float: none;
}

#error-container {
    color: red;
}